{% extends 'admin/standard_layout.html.twig' %}

{% block title %}{{ 'title_search_results'|trans({'%query%': query}, 'SonataAdminBundle') }}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block content %}
    <h2 class="page-header">{{ 'title_search_results'|trans({'%query%': query}, 'SonataAdminBundle') }}</h2>

    {% if query is defined and query is not same as(false) %}
        {% set count = 0 %}
        <div class="row" data-masonry='{ "itemSelector": ".search-box-item" }'>
            {% set display = group.roles is empty or is_granted(sonata_config.getOption('role_super_admin')) or group.roles|filter(role => is_granted(role))|length > 0 %}
            {% if display %}
                {% for admin in group.items %}
                    {% set count = count + 1 %}
                    {% if admin.hasRoute('create') and admin.hasAccess('create') or admin.hasRoute('list') and admin.hasAccess('list') %}
                        <div class="col-xs-12 col-md-12">
                            <div class="box box-primary">
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-bordered table-striped table-hover sonata-ba-list">
                                        <thead>
                                        <tr class="sonata-ba-list-field-header">

                                            <th class="sonata-ba-list-field-header-integer sonata-ba-list-field-header-order-desc sonata-ba-list-field-order-active">
                                                Id
                                            </th>
                                            <th class="sonata-ba-list-field-header-date sonata-ba-list-field-header-order-asc ">
                                                Date
                                                du SAV
                                            </th>
                                            <th class="sonata-ba-list-field-header-orm_many_to_one">
                                                Source
                                            </th>
                                            <th class="sonata-ba-list-field-header-orm_many_to_one">
                                                Opérateur
                                            </th>
                                            <th class="sonata-ba-list-field-header-text sonata-ba-list-field-header-order-asc ">
                                                N°
                                                commande Divalto
                                            </th>
                                            <th class="sonata-ba-list-field-header-text sonata-ba-list-field-header-order-asc ">
                                                Famille produit
                                            </th>
                                            <th class="sonata-ba-list-field-header-orm_many_to_one">
                                                État
                                            </th>
                                            <th class="sonata-ba-list-field-header-boolean sonata-ba-list-field-header-order-asc ">
                                                Messages non lus
                                            </th>
                                            <th class="sonata-ba-list-field-header-text sonata-ba-list-field-header-order-asc ">
                                                Nom
                                                Client
                                            </th>
                                            <th class="sonata-ba-list-field-header-text sonata-ba-list-field-header-order-asc ">
                                                Email Client
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for result in results %}
                                            <tr>
                                                <td class="sonata-ba-list-field">
                                                    <a class="sonata-link-identifier"
                                                       href="/admin/app/sav/{{ result.id }}/edit">{{ result.id }}</a>
                                                </td>
                                                <td class="sonata-ba-list-field">
                                                    <span>{{ result.createdAt != null ? result.createdAt|date('d/m/Y') : '' }}</span>
                                                </td>
                                                <td class="sonata-ba-list-field">
                                                    <span>{{ result.source }}</span>
                                                </td>
                                                <td class="sonata-ba-list-field">
                                                    <span>{{ result.user }}</span>
                                                </td>
                                                <td class="sonata-ba-list-field">
                                                    <span>{{ result.divaltoNumber }}</span>
                                                </td>
                                                <td class="sonata-ba-list-field">
                                                    <span>{{ result.family }}</span>
                                                </td>
                                                <td class="sonata-ba-list-field">
                                                    <span>{{ result.statusSetting }}</span>
                                                </td>
                                                <td class="sonata-ba-list-field">
                                                    <span>{{ result.newMessage }}</span>
                                                </td>
                                                <td class="sonata-ba-list-field">
                                                    <span>{{ result.customer.name }}</span>
                                                </td>
                                                <td class="sonata-ba-list-field">
                                                    <span>{{ result.customer.email }}</span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
